.search-form
    form#searchForm 
        .inline-form
            input(type="text")#searchText
            button(type="submit" ) Buscar
            a(style="margin-left:10px;cursor:pointer;text-decoration:underline") Guardar Busqueda
    