
h3 Busquedas Guardadas
    ul#saved


h3 Categorias
    ul#categorias
        li
            a(class="disableClick" type="filter" filter="categories" href="#" data-filter="all") Todos
h3 Idioma
    ul#idioma
         li
            a(class="disableClick" type="filter" filter="lang" href="#" data-filter="all") Todos

h3 Publicación
    ul#publicacion
         li
            a(href="#" class="disableClick" type="filter" filter="time" data-filter="all") Todos
         li
            a(href="#" filter="time" type="filter" data-filter="today") Hoy
         li
            a(href="#" filter="time" type="filter" data-filter="week") Hace una semana
         li
            a(href="#" filter="time" type="filter" data-filter="month") Hace un mes
         li
            a(href="#" filter="time" type="filter" data-filter="year") Hace un año
h3 Presentación
    ul#presentacion
         li
            a(class="disableClick" type="filter"  filter="edition" href="#"  data-filter="all") Todos