doctype html
html(lang="es")
    head
        title Finder challenge
        meta(charset="utf-8")
        meta(viewport="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css?family=Proxima+Nova", rel="stylesheet", type="text/css")
        link(href="/vendor/pure/pure-min.css", rel="stylesheet")
        link(href="/styles/index.css", rel="stylesheet")
        script(src="/vendor/jquery/dist/jquery.min.js")

        .app.pure-g
            header.pure-u-1
                .pure-u-1-3
                    h1.logo Finder challenge!
                .pure-u-15-24
                    include blocks/search-form
                .pure-u-1-3
            aside.filters.pure-u-1-4
                include blocks/side-menu
            content.content.pure-u-3-4
                include blocks/content
            div.pure-u-1
                include blocks/pages
            footer.pure-u-1

        //- third party libraries
        script(src="/vendor/underscore/underscore-min.js")

        //- app scripts self
        script(src="/scripts/global.js")
        script(src="/scripts/search-form.js")
        script(src="/scripts/side-menu.js")
        script(src="/scripts/content.js")
        script(src="/scripts/pages.js")
        script(src="/scripts/app.js")
    body